.categorySection{
width:100%;
padding:40px;
z-index: 100;
}

.filterTitle{
font-size:28px;
margin-bottom:30px;
}

.filtersContainer{
display:flex;
flex-wrap:wrap;
gap:45px;
align-items:flex-end;

}

.filterGroup{
position:relative;
}


.customSelect{
padding:12px 16px;
border-radius:6px;
cursor:pointer;
min-width:180px;
display:flex;
justify-content:space-between;
align-items:center;
position:relative;
transition:
box-shadow .25s,
transform .2s;
}


.customSelect::after{

content:"▼";
font-size:12px;
transition:transform .3s;
}


.options{
position:absolute;
top:115%;
left:0;
width:100%;
border-radius:6px;
overflow:hidden;
max-height:0;
background-color: white;
border: 1px solid black;
transform:translateY(-10px);
transition:
max-height .35s ease,
opacity .25s ease,
transform .25s ease;

}



.options.open{
border: 1px solid black;
max-height:260px;
opacity:1;
transform:translateY(0);
z-index: 999;
}


.option{
padding:10px 14px;
cursor:pointer;

transition:
background .2s,
padding-left .2s,
font-weight .2s;
}

.option:hover{
    padding-left:18px;
    background-color: rgb(155, 255, 130);
    font-weight: bold;

}


.filterButton{

padding:12px 28px;
border:none;
border-radius:6px;

font-weight:bold;
cursor:pointer;

transition:
transform .2s,
box-shadow .2s,
background .2s;
border: 2px solid black;

}

.filterButton:hover{
transform:translateY(-3px);
background-color: #0d0d0d;
color: white;
}

.filterButton:active{
transform:translateY(0);
}




.dark-mode .categorySection{

background:#0d0d0d;
border-bottom: 1px solid #ffffff;
z-index: 100;

}

.dark-mode .filterTitle{

color:white;

}

.dark-mode .customSelect{

background:#111;
color:white;

}

.dark-mode .customSelect:hover{

transform:translateY(-2px);

}

.dark-mode .options{
border:1px solid #23ca02;

background:#111;
}


.dark-mode .option{
color:white;

}

.dark-mode .option:hover{

background:#23ca02;
color:black;
padding-left:18px;
font-weight: bold;

}

.dark-mode .filterButton{

background:#23ca02;
color:black;
border: 2px solid black;
font-weight: bold;
}

.dark-mode .filterButton:hover{

transform:translateY(-4px);
background-color: rgb(0, 0, 0);
color: #23ca02;
border: 2px solid #23ca02;
}

.inputCheckBoxCategory{
    margin-right: 8px;
}

#category-section-filter-div{
    display: flex;
    align-items: center;
    gap: 20px;
}




@media (max-width: 768px) {
  .categorySection {
    padding: 30px; 
  }

  .filterTitle {
    font-size: 24px;
    margin-bottom: 45px;
  }

  .filtersContainer {
    flex-direction: column; 
    align-items: stretch;   
    gap: 41px;             
  }

  .filterGroup {
    width: 100%;
    padding: 0 30px;       
  }

  .customSelect {
    min-width: unset;     
    width: 100%;
    box-sizing: border-box; 
  }

  #category-section-filter-div {
    flex-direction: row;   
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .filterButton {
    flex: 1;      
    font-size: 14px;
    text-align: center;
  }
}@media (max-width: 600px) {
  .color-filter-bar {
    align-items: center;
    text-align: center;
  }
  
  .color-options {
    justify-content: center;
  }
}

.dark-mode .color-filter-bar span {
    color: white;
}

.dark-mode .divider{
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.493);

}