@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.logo{
 width: 120px;
 height: 120px;
}

.navbar{
    width: 100%;
    min-height: 30px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
 gap: 20px;
 padding: 18px 7px;
}
.navbar-content-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 60%;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }
  .navbar-content-title{
  flex-direction: column;
  }
}
  


h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    width: 100px;
    font-weight: bolder;
        font-size: 2em;
  }

  

.carrinho{
    width: 50px;
    height: 50px;
}

.carrinho:hover{
    transform:translateY(-4px);
}

.filtro{
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
  
}

#inputPesquisar{
    padding: 5px;
    width: 230px;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 4px;
    font-size: 16px;
    background-color: transparent;
    

}

#inputPesquisar:focus{
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid rgb(0, 214, 0);

  background-color: transparent;
}

#inputPesquisar:hover{
  border-bottom: 2px solid rgb(0, 214, 0);
}



.lupa{
    width: 28px;
    height: 28px;
}

.btn-search{
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    
    color: white;
}

.zapzap{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 241, 0, 0.288);
    font-size: 14px;
    padding: 6px 13px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    transition: 0.3s;
}

.zapzap img {
    transition: filter 0.3s;
}

.zapzap:hover {
    background-color: rgba(0, 168, 0, 0.877);
    color: white;
    transform:translateY(-4px);
}

.zapzap:hover img {
    filter: brightness(0%) invert(100%);
}

#zapImg{
    width: 26px; 
    height: 26px;
    color: white;
}

a{
    text-decoration: none;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition: 0.4s ease;
}

.dark-mode .navbar {
  background-color: #474747;
  border-bottom: 2px solid white;
}

.dark-mode .filtro{
    background-color: rgba(39, 39, 39, 0.767);
}

.dark-mode #inputPesquisar {
    background-color: transparent;
    color: white;
    border-color: white;
}

.dark-mode #inputPesquisar:focus {
    border-color: rgb(0, 214, 0);
}

.dark-mode #inputPesquisar:hover {
    border-color: rgb(0, 214, 0);
}


.dark-mode .lupa {
    filter: invert(100%);
}

.dark-mode .carrinho {
    filter: invert(100%);
}


.dark-mode #zapImg {
    filter: brightness(0%) invert(100%);
}

.dark-mode .zapzap {
    color: white;
    background-color: rgba(0, 241, 0, 0.425);
}

.dark-mode .zapzap:hover {
    color: black;
    background-color: rgba(0, 214, 0, 0.877);
}

.dark-mode .zapzap:hover img {
   filter: brightness(0%);
}

/* ----------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 36px;
  
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #2e2e2e;
  border-radius: 36px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
 
}

.icon {
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #15b300;
}

input:checked + .slider .icon {
  transform: translateX(34px);
}

/* ----------------------------------- */


#vitrine {
  scroll-margin-top: 80px; 
}




.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  transform: scale(1.3);
  padding: 9px;
  background-color: white;
  border-radius: 8px;

}

.dark-mode
.menu-toggle {
    background-color: #1e1e1e;

}

.bar {
  width: 35px;
  height: 3px;
  background-color: black;
  transition: 0.3s;
}




.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}


.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
gap: 70px;


}





.mobile-categories {
  display: none;
  list-style: none;
  padding: 0;
  width: 100%;
}

.mobile-categories .dropdown-item {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(24, 24, 24, 0.479);
  font-size: 16px;
  color: inherit; 
  margin-top: 4px;
}



.mobile-categories {
  display: none;
  list-style: none;
  padding: 0;
  width: 100%; 
  max-height: 55vh;
  overflow-y: auto;
  margin-top: 20px;
  text-align: center;
}




.mobile-categories a {
  text-decoration: none;
  color: inherit;
  display: block; 
}

.mobile-categories .dropdown-item:active {
  background-color: rgba(0, 0, 0, 0.05);
}



.dark-mode .mobile-categories .dropdown-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.btn-close-menu {
    display: none; 
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: #d60000; 
    font-size: 65px;
    line-height: 1;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
    transition: transform 0.2s ease;
}




.mobile-categories::-webkit-scrollbar {
  width: 3px;
}

.mobile-categories::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.mobile-categories::-webkit-scrollbar-thumb {
  background: #5c5c5c; /* Use a cor verde do seu projeto */
  border-radius: 10px;
}

@media (max-width: 768px) {

  h1 {
    width: auto;
  }

  .site-title {
    width: 100%;
    text-align: center;
  }

  .navbar {
    flex-wrap: wrap;
    padding: 18px 26px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .filtro {
    order: 3;
    width: 120%;
    justify-content: center;
    margin: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 8px;

  }

  #inputPesquisar {
    width: 80%;
    font-size: 14px;
  }

  .menu-toggle {
    display: flex;
    position: absolute;
    top: 18px;
    right: 26px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 56%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    transition: 0.4s;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    border-left: 3px solid rgb(0, 0, 0);
    padding-top: 100px; 
  }

  

  .nav-menu.show {
    right: 0;
    padding-bottom: 10px;
  }

  .nav-menu.show .btn-close-menu {
    display: block;
  }

  .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .zapzap {
    padding: 8px;
  }

  .switch {
    width: 60px;
    height: 32px;
  }

  input:checked + .slider .icon {
    transform: translateX(28px);
  }

  .dark-mode .nav-menu {
    background-color: #1e1e1e;
  }

  .dark-mode .bar {
    background-color: white;
  }

  .mobile-categories {
    display: block;
    margin-bottom: 20px;
  }

  .mobile-categories a {
    text-decoration: none;
    color: inherit;
  }
}